<div class="container mt-3">
<h2 class="h2 mt-2 "><%= @article.title %></h2>
<p class="font-italic">By <%= @article.user.username if @article.user %> </p>
<% if @article.categories.any? %>
    <%= render @article.categories %>
<% end %>
</br>
<%= link_to gravatar_for(@article.user), @article.user, class: "d-inline-block" %>
<hr>
<div>
<%= @article.description %>
</div>

<div class="button-div mt-4">
    <% if logged_in? && ( @article.user == current_user || current_user.admin? )%>
        <%= link_to "Edit", edit_article_path(@article), class: "btn btn-warning", type: "button" %> 
        <%= link_to "Destroy", article_path(@article), method: :delete, data: { confirm: "You sure nigga?" }, class: "btn btn-danger", type: "button" %> 
    <% end %>
    <%= link_to "Articles Page", articles_path, class: "btn btn-success", type: "button" %>

</div>

</div>